[run]
branch = True
source = src/greenbudget
parallel = True
concurrency = multiprocessing
omit =
    */tests/*
    */migrations/*
    */settings/*
    */*wsgi.py
    */manage.py
    */management/*
    */harry/*
    */data/*
    src/greenbudget/conf/gunicorn_config.py
    src/greenbudget/lib/logging/*
    src/greenbudget/lib/utils/decorators.py
    */logging/*
    */conf/*

[report]
ignore_errors = True
exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
    if settings.DEBUG
    if settings.ENVIRONMENT
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:

[xml]
output = reports/coverage.xml

[html]
directory = reports/coverage
