[run]
branch = True
source = src/greenbudget
parallel = True
concurrency = multiprocessing
omit =
    */tests/*
    */migrations/*
    */settings/*
    */*wsgi.py
    */manage.py
    */management/*
    src/greenbudget/conf/gunicorn_config.py
    *django_utils/cli.py

[report]
ignore_errors = True
exclude_lines =
    pragma: no cover
    def __repr__
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:

[xml]
output = reports/coverage.xml

[html]
directory = reports/coverage