container_commands:
  01_migrate:
    command: "python src/manage.py migrate"
    leader_only: true
  02_collectstatic:
    command: "python src/manage.py collectstatic"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: greenbudget.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: greenbudget.conf.settings.prod