{% extends "admin/base.html" %}

{% load static %}
{% load compress %}

{% block stylesheets %}
    {{block.super}}
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/vnd.microsoft.icon" href="{% static 'harry/favicon.svg' %}" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'harry/favicon.svg' %}" />
    {% compress css %}
        <link type="text/x-scss" rel='stylesheet' href="{% static 'harry/css/base.scss' %}" media="screen">
    {% endcompress %}
{% endblock %}
