{% extends "admin/base.html" %}

{% load static %}
{% load compress %}
{% load i18n grp_tags %}

{% block stylesheets %}
    {{block.super}}
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/vnd.microsoft.icon" href="{% static 'harry/favicon.svg' %}" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'harry/favicon.svg' %}" />
    {% compress css %}
        <link type="text/x-scss" rel='stylesheet' href="{% static 'harry/css/base.scss' %}" media="screen">
    {% endcompress %}
{% endblock %}

{% block context-navigation %}
    <!-- CONTEXT NAVIGATION -->
    <div id="grp-context-navigation">
        <nav id="grp-breadcrumbs" class="{% block breadcrumbs-class %}{% endblock %}">
            <header style="display:none"><h1>Breadcrumbs</h1></header>
            {% block breadcrumbs %}
                <ul>
                    <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
                    {% if title %}
                        <li>
                          <div class="breadcrum-item">
                            {{ title }}
                          </div>
                        </li>
                    {% endif %}
                </ul>
            {% endblock %}
        </nav>
        <nav id="grp-page-tools">
            <header style="display:none"><h1>Page Tools</h1></header>
            {% block page-tools %}{% endblock %}
        </nav>
    </div>
{% endblock %}
