#grp-navigation {
    background-image: none !important;
    background-color: #0fb767 !important;
}

#grp-user-tools {
    border-left: 1px solid white;
}

#grp-user-tools > li {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

#grp-navigation a {
    color: white;
}

#grp-navigation a:hover {
    color: rgba(215, 215, 215);
}