@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&family=Roboto:wght@100;300;400;500;700&display=swap&family=Open+Sans:wght@300;400;600;700&display=swap");
@import "./_variables.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.menu-base {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-variant: tabular-nums;
  font-feature-settings: "tnum";
  margin-bottom: 0;
  padding-left: 0;
  color: $text-secondary;
  font-size: 14px;
  line-height: 0;
  text-align: left;
  list-style: none;
  background: $white;
  outline: none;
  box-shadow: none !important;
  transition: background 0.3s, width 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
  width: 100%;
  background-color: $white;
  border: $menu-border !important;
  border-radius: 3px;
}

.menu-item {
  margin-top: 0px;
  color: $text-secondary !important;
  font-family: $roboto;
  font-weight: 400;
  min-width: 100px;
  height: 32px;
  margin-bottom: 0px !important;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  border: none !important;

  &:hover {
    background-color: #f1f1f1 !important;
    a {
      color: $text-primary !important;
    }
  }

  > a {
    padding: 4px 10px;
    font-size: 13px;
    line-height: 24px;

    &:hover {
      background-color: unset !important;
      background: unset !important;
    }
  }
}

.grp-module {
  background: #ececec;
  border: $border;
}

#grp-navigation {
  background-image: none !important;
  background-color: $green !important;
  display: flex;
  flex-direction: row;
  float: none !important;

  #grp-admin-title {
    flex-grow: 100;
    float: none !important;
  }

  a {
    color: $text-secondary;
  }

  ul li.grp-collapse.grp-open > ul {
    @extend .menu-base;
    position: absolute;
    z-index: 1010;
    display: block;
    margin: 0 !important;
    width: 140px;
  }

  ul.grp-user-options {
    @extend .menu-base;
    li {
      @extend .menu-item;
    }
  }

  #grp-user-tools {
    border-left: none !important;
    float: none !important;
    margin: 0;

    > li {
      border-left: none !important;
      border-right: none !important;
      width: auto;
      height: 100%;

      > a {
        display: block;
        padding: 5px 10px !important;
        line-height: 30px !important;
        color: white;
        &:hover {
          color: rgba(215, 215, 215, 1);
        }
      }
    }
  }
}

#grp-content-title {
  margin-bottom: 20px;
  height: 36px;
  display: flex;
  flex-direction: row;

  h1 {
    line-height: 36px;
    flex-grow: 100;
  }

  .grp-object-tools {
    margin: 0 !important;
    float: none !important;
    top: 0 !important;
  }
}

.grp-submit-row.grp-fixed-footer > ul > li {
  margin-bottom: 0px;
  padding: 5px !important;
  background: none !important;
}

.grp-changelist-actions {
  display: flex;
  flex-direction: row;

  &:not(:last-child) {
    margin-right: 6px;
  }
}

.grp-float-left {
  float: none !important;
}

li.grp-changelist-actions .grp-horizontal-list .grp-button {
  padding: 8px 10px;
  height: 36px;
  line-height: 20px;
  -moz-border-radius: $input-border-radius !important;
  -webkit-border-radius: $input-border-radius !important;
  border-radius: $input-border-radius !important;
}

.grp-horizontal-list {
  display: flex;
  flex-direction: row;
  width: auto;
  overflow: visible !important;

  li.grp-action-counter {
    width: auto !important;
    margin-right: 4px;
    border: none !important;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

    span {
      border: none !important;
      background: unset !important;
      color: $text-secondary !important;
    }
  }
}

body.grp-login .grp-module-login {
  background: white !important;
}

body.grp-login .grp-module-login h1 {
  font-size: 18px;
  padding: 12px;
  border: none;
  border-bottom: 0;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  background-image: none;
  background-color: $green;
}

body.grp-login .grp-module-login h1 span.grp-current-page {
  display: none;
}

body.grp-login .grp-module-login h1 span.grp-admin-title {
  color: white;
  padding: 0px;
}

body.grp-login .grp-module-login .grp-module {
  background: white !important;
  border: 1px solid #efefef;
  border-top: none;
}

body.grp-login .grp-module-login .grp-module .grp-row.grp-connected {
  border-top: none;
  background: white !important;
}

body.grp-login .grp-module-login .grp-module .grp-row {
  padding: 20px;
}

body.grp-login .grp-submit-row {
  li {
    width: 100%;
    background: none;
  }
  input.grp-button.grp-default {
    background-color: $green;
    color: $white;
    border: 1px solid transparent;
    font-family: $open-sans;
    font-weight: 600;
    background-image: none !important;
    width: 100%;

    &:hover,
    &:focus {
      border-color: transparent !important;
      background-color: $green-darker !important;
      color: $white !important;
      box-shadow: none !important;
    }

    &.disabled {
      background-color: rgba(0, 0, 0, 0.12);
    }
  }
}

.grp-fixed-footer {
  background-image: none !important;
  background: $app-alt-background-color !important;
  background-color: $app-alt-background-color !important;
}

#grp-context-navigation {
  background-image: none !important;
  background: $app-alt-background-color !important;
  background-color: $app-alt-background-color !important;
  border-bottom: $border !important;
}
